@using Crm.Customers

@inject ICustomerAppService CustomerAppService
@inject Microsoft.Extensions.Localization.IStringLocalizer<Crm.Localization.CrmResource> L

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>

            <ModalHeader>
                <ModalTitle>@L["Edit Customer"]</ModalTitle>
                <CloseButton />
            </ModalHeader>

            <ModalBody>
                <Field>
                    <FieldLabel>@L["Customer Name"]:</FieldLabel>
                    <InputText @bind-Value="CustomerUpdateDto.Name" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>@L["Customer Surname"]:</FieldLabel>
                    <InputText @bind-Value="CustomerUpdateDto.Surname" class="form-control" />
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>@L["Email"]:</FieldLabel>
                        <InputText @bind-Value="CustomerUpdateDto.Email" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>@L["Phone Number"]:</FieldLabel>
                        <InputText @bind-Value="CustomerUpdateDto.Phone" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>@L["Address"]:</FieldLabel>
                        <InputText @bind-Value="CustomerUpdateDto.Address" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>@L["Company Name"]:</FieldLabel>
                        <InputText @bind-Value="CustomerUpdateDto.CompanyName" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>@L["Type"]:</FieldLabel>
                        <Select @bind-SelectedValue="selectedType">
                            @foreach (var type in Enum.GetValues(typeof(EnumCustomer)).Cast<EnumCustomer>())
                            {
                                <SelectItem Value="@type">@type</SelectItem>
                            }
                        </Select>
                    </Field>
                </Card>

            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">@L["Close"]</Button>
                <Button Color="Color.Primary" Clicked="@UpdateCustomerAsync">@L["Save Changes"]</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>        
</CascadingValue>