@using Crm.Common
@using Crm.Tasks

@inject Microsoft.Extensions.Localization.IStringLocalizer<Crm.Localization.CrmResource> L
@inherits ComponentBase

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            @if(Task!=null)
            {
                <ModalTitle>@Task.Name</ModalTitle>

            }
            <CloseButton @onclick="Hide" />
        </ModalHeader>
        <ModalBody>
            @if (Task != null)
            {
                <p><strong>@L["Description"]:</strong> @Task.Description</p>
                <p><strong>@L["Status"]:</strong> @Task.Group</p>
                <p><strong>@L["Priority"]:</strong> 
                    <span style="font-weight:bold; color:@GetPriorityTextColor();">
                        @Task.Priority
                    </span>
                </p>
                <p><strong>@L["Due Date"]:</strong> @Task.DueDate.ToShortDateString()</p>
                <p><strong>@L["Creation Time"]:</strong> @Task.CreationTime.ToString("g")</p>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" @onclick="Hide">@L["Close"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

