@using Crm.Tasks
@inherits ComponentBase

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            @if(Task!=null)
            {
                <ModalTitle>@Task.Name</ModalTitle>

            }
            <CloseButton @onclick="Hide" />
        </ModalHeader>
        <ModalBody>
            @if (Task != null)
            {
                <p><strong>Açıklama:</strong> @Task.Description</p>
                <p><strong>Durum:</strong> @Task.Group</p>
                <p><strong>Öncelik:</strong> 
                    <span style="font-weight:bold; color:@GetPriorityTextColor();">
                        @Task.Priority
                    </span>
                </p>
                <p><strong>Teslim Tarihi:</strong> @Task.DueDate.ToShortDateString()</p>
                <p><strong>Oluşturulma:</strong> @Task.CreationTime.ToString("g")</p>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" @onclick="Hide">Kapat</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal? modalRef;

    [Parameter] public TaskDto? Task { get; set; }

    public void Show() => modalRef?.Show();
    public void Hide() => modalRef?.Hide();    

    private string GetPriorityTextColor()
    {
        if (Task == null)
            return "#111827"; 

        return Task.Priority switch
        {
            EnumPriority.Low => "#00FF11",       
            EnumPriority.Medium => "#EEFF00",    
            EnumPriority.High => "#FF7B00",      
            EnumPriority.Critical => "#FF0000",  
            _ => "#111827"
        };
    }
}
