@page "/employees"

@using Blazorise.Components
@using Crm.Employees
@using Crm.Common
@using Crm.Blazor.Components
@using Crm.Positions

@inject NavigationManager Navigation
@inject IEmployeeAppService EmployeeAppService
@inject IPositionAppService PositionAppService

<Div Margin="Margin.IsAuto.OnX">
    <Card>
        <CardBody Flex="Flex.JustifyContent.Between.AlignItems.Center">
            <Div>
                <Field Display="Display.InlineFlex" Margin="Margin.Is0.FromBottom">
                    
                    <Autocomplete TItem="EmployeeDto"
                                  TValue="string"
                                  Data="@ReadDataEmployees"
                                  ReadData="@OnHandleReadData"
                                  TextField="@(( item ) => item.FirstName)"
                                  ValueField="@((item) => item.Id.ToString())"
                                  @bind-SelectedText="selectedAutoCompleteText"
                                  @onkeydown="@OnEntered"
                                  Placeholder="Search..."
                                  FreeTyping>
                        <NotFoundContent> Sorry... @context was not found! :( </NotFoundContent>
                    </Autocomplete>                    
                </Field>
            </Div>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Gap="Gap.Is3">

                <Field Display="Display.InlineFlex" Margin="Margin.Is0.FromBottom">
                    <Button Color="Color.Success" Clicked="@ShowCreateModal">Add Employee</Button>
                </Field>               

            </Div>
        </CardBody>
    </Card>
</Div>

<Row>
    @foreach (var employee in FilteredEmployees)
    {
        <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is8.OnDesktop.Is10.OnTablet">
            <Card>
                <CardBody>
                    <Div style="position: relative;">
                        <Div style="position: absolute; top: 10px; right: 10px;">
                            <Button @onclick="() => ToggleDropdown(employee.Id)" style="background: none; border: none; cursor: pointer;">
                                &#8942; 
                            </Button>

                            @if (ActiveDropdownEmployeeId == employee.Id)
                            {
                                <Div style="position: absolute; right: 0; top: 25px; background-color: white; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 2px 6px rgba(0,0,0,0.2); z-index: 100; min-width: 100px;">
                                   <Button @onclick="() => OnSelectEmployeeForEdit(employee)" 
                                        Style="display: block; width: 100%; padding: 8px; background: none; border: none; text-align: left; cursor: pointer;">
                                        Edit
                                    </Button>
                                    <Button @onclick="() => OnSelectEmployeeForDelete(employee)"
                                            Style="display: block; width: 100%; padding: 8px; background: none; border: none; text-align: left; cursor: pointer;">
                                            Delete
                                    </Button>
                                </Div>
                            }
                        </Div>

                        <!-- Content Centered -->
                        <Div style="display: flex; flex-direction: column; align-items: center;">
                            <img src="@employee.PhotoPath" alt="Profile Photo" style="width: 80px; height: 80px; border-radius: 50%; margin-bottom: 10px; object-fit: cover;" />
                            <Span style="font-size: 16px; color:black">@employee.FullName</Span>
                            <br />
                            <Span>@PositionList.FirstOrDefault(p => p.Id == employee.PositionId)?.Name</Span>
                            <br />
                            <a href="mailto:@employee.Email" style="font-size: 14px; text-decoration: none; color: blue;">@employee.Email</a>
                            <Span style="color:black;">@employee.PhoneNumber</Span>
                        </Div>
                    </Div>
                </CardBody>
            </Card>
        </Column>
    }
</Row>

@* <Div Flex="Flex.JustifyContent.Center">
    <Button Color="Color.Light" @onclick="LoadMoreEmployees">Load More</Button>
</Div> *@

@* ********** Employee DELETE MODAl ********** *@
<Modal @bind-Visible="isDeleteModalVisible" Size="ModalSize.Small" BackdropClick="true">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>Onayla</ModalTitle>
            <Button CloseButton @onclick="() => isDeleteModalVisible = false" />
        </ModalHeader>
        <ModalBody>
            Silmek istediğinize emin misiniz?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" @onclick="ConfirmDelete">Sil</Button>
            <Button Color="Color.Secondary" @onclick="() => isDeleteModalVisible = false">İptal</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@* ********** CREATE MODAL ********** *@
<Crm.Blazor.Components.Dialogs.Employees.EmployeeCreateModal @ref="employeeCreateModal" />

@* ********** EDIT MODAL ********** *@
<Crm.Blazor.Components.Dialogs.Employees.EmployeeEditModal @ref="employeeEditModal" />