@using Crm.Employees
@using Crm.Projects
@using Crm.Common
@using Crm.Customers

@inject IProjectAppService ProjectAppService
@inject IEmployeeAppService EmployeeAppService
@inject ICustomerAppService CustomerAppService
@inject IProjectEmployeeAppService ProjectEmployeeAppService

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Add Project</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Project Name:</FieldLabel>
                    <InputText @bind-Value="Name" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>Project Description:</FieldLabel>
                    <InputText @bind-Value="Description" class="form-control"/>
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>Start Time:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.Date" @bind-Date="StartTime"  />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>End Time:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.Date" @bind-Date="EndTime"  />
                    </Field>
                </Card>
                <Field>
                    <FieldLabel>Status:</FieldLabel>
                    <Select @bind-SelectedValue="Status">
                        @foreach (var status in Enum.GetValues(typeof(EnumStatus)).Cast<EnumStatus>())
                        {
                            <SelectItem Value="@status">@status</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>Revenue:</FieldLabel>
                    <InputNumber @bind-Value="Revenue" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>Succes Rate:</FieldLabel>
                    <InputNumber @bind-Value="SuccesRate" class="form-control" />
                </Field>

                <Field>
                    <FieldLabel>Employees:</FieldLabel>

                    <Select TValue="Guid"
                            Multiple="true"
                            SelectedValues="SelectedEmployeeIds"
                            SelectedValuesChanged="@(v => SelectedEmployeeIds = v.ToList())">
                        @foreach (var employee in Employees)
                        {
                            <SelectItem Value="@employee.Id">@employee.FirstName @employee.LastName</SelectItem>
                        }
                    </Select>

                </Field>

                <Field>
                    <FieldLabel>Customer:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="@SelectedCustomerId">
                        <SelectItem Value="Guid.Empty">Seçiniz</SelectItem>
                        @foreach (var customer in Customers)
                        {
                            <SelectItem Value="@customer.Id">@customer.Name</SelectItem>
                        }
                    </Select>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@CreateProjectAsync">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</CascadingValue>

