@using Crm.Employees
@using Crm.Customers
@using Crm.Projects
@using Crm.Common
@using System.ComponentModel.DataAnnotations

@inject IEmployeeAppService EmployeeAppService
@inject ICustomerAppService CustomerAppService
@inject IProjectAppService ProjectAppService

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Edit Activity</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Name:</FieldLabel>
                    <InputText @bind-Value="ProjectUpdateDto.Name" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>Description:</FieldLabel>
                    <InputText @bind-Value="ProjectUpdateDto.Description" class="form-control" />
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>Start Time:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" @bind-Date="selectedStartTime" Format="yyyy-MM-dd HH:mm" />
                    </Field>
                </Card>
                <Card>
                    <Field>
                        <FieldLabel>End Time:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" @bind-Date="selectedEndTime" Format="yyyy-MM-dd HH:mm" />
                    </Field>
                </Card>
                <Field>                                   
                    <FieldLabel>Status:</FieldLabel>
                    <Select @bind-SelectedValue="selectedStatus">
                        @foreach (var status in Enum.GetValues(typeof(EnumStatus)).Cast<EnumStatus>())
                        {
                            <SelectItem Value="@status">@status</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>Revenue:</FieldLabel>
                    <InputNumber @bind-Value="ProjectUpdateDto.Revenue" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>SuccessRate:</FieldLabel>
                    <InputNumber @bind-Value="ProjectUpdateDto.SuccessRate" class="form-control" />
                </Field>
                
                <Field>
                    <FieldLabel>Employees:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="selectedEmployeeId">
                        <SelectItem Value="Guid.Empty">Seçiniz</SelectItem>
                        @foreach (var employee in EmployeeList)
                        {
                            <SelectItem Value="@employee.Id">@employee.FirstName</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>Customer:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="@selectedCustomerId">
                        <SelectItem Value="Guid.Empty">Seçiniz</SelectItem>
                        @foreach (var customer in CustomerList)
                        {
                            <SelectItem Value="@customer.Id">@customer.Name</SelectItem>
                        }
                    </Select>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@UpdateProjectAsync">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</CascadingValue>
