@using Crm.Orders
@using Crm.Common
@using Crm.Customers
@using Crm.Projects

@inject IOrderAppService OrderAppService
@inject ICustomerAppService CustomerAppService
@inject IProjectAppService ProjectAppService
@inject Microsoft.Extensions.Localization.IStringLocalizer<Crm.Localization.CrmResource> L

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>

            <ModalHeader>
                <ModalTitle>@L["Add Order"]</ModalTitle>
                <CloseButton />
            </ModalHeader>

            <ModalBody>
                <Validations @ref="validations" Mode="ValidationMode.Manual" Model="OrderCreateDto">
                
                    <!-- Status -->
                    <Validation>
                    <Field>
                    <FieldLabel>@L["Order Status"]:</FieldLabel>
                    <FieldBody>
                    <Select @bind-SelectedValue="Status">
                        @foreach (var status in Enum.GetValues(typeof(EnumStatus)).Cast<EnumStatus>())
                        {
                            <SelectItem Value="@status">@status</SelectItem>
                        }
                    </Select>

                            <ValidationError>
                                @L["Order Status is required"]
                            </ValidationError>

                            </FieldBody>
                </Field>
                    </Validation>

                    <!-- Order Date -->
                <Card>
                    <Field>
                        <FieldLabel>@L["Order Date"]:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" @bind-Date="OrderDate" Format="yyyy-MM-dd" />
                    </Field>
                </Card>

                    <!-- Delivery Date -->
                <Card>
                    <Field>
                        <FieldLabel>@L["Delivery Date"]:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" @bind-Date="DeliveryDate" Format="yyyy-MM-dd" />
                    </Field>
                </Card>

                <!-- Total Amount -->
                <Validation>
                <Card>
                    <Field>
                        <FieldLabel>@L["Total Amount"]:</FieldLabel>
                        <FieldBody>
                        <InputNumber @bind-Value="TotalAmount" class="form-control" />
                    </FieldBody>
                        <ValidationError>
                            @L["Total Amount is required and must be greater than zero"]
                                </ValidationError>
                    </Field>
                </Card>
                    </Validation>

                <Card>
                    <Field>
                        <FieldLabel>@L["Order Code"]:</FieldLabel>
                        <TextEdit @bind-Text="OrderCode" class="form-control" />
                    </Field>
                </Card>             

                <Field>
                    <FieldLabel>@L["Customers"]:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="SelectedCustomerId">
                        <SelectItem Value="Guid.Empty">@L["Select"]</SelectItem>
                        @foreach (var customer in Customers)
                        {
                            <SelectItem Value="@customer.Id">@customer.Name @customer.Surname</SelectItem>
                        }
                    </Select>
                </Field>

                <Field>
                    <FieldLabel>@L["Projects"]:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="SelectedProjectId">
                        <SelectItem Value="Guid.Empty">@L["Select"]</SelectItem>
                        @foreach (var project in Projects)
                        {
                            <SelectItem Value="@project.Id">@project.Name</SelectItem>
                        }
                    </Select>
                </Field>             
                </Validations>
            </ModalBody>

            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">@L["Close"]</Button>
                <Button Color="Color.Primary" Clicked="@CreateOrderAsync">@L["Save Changes"]</Button>
            </ModalFooter>

        </ModalContent>
    </Modal>
</CascadingValue>
