@using Crm.Orders
@using Crm.Common
@using Crm.Customers
@using Crm.Projects

@inject IOrderAppService OrderAppService
@inject ICustomerAppService CustomerAppService
@inject IProjectAppService ProjectAppService
@inject Microsoft.Extensions.Localization.IStringLocalizer<Crm.Localization.CrmResource> L

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>

            <ModalHeader>
                <ModalTitle>@L["Add Order"]</ModalTitle>
                <CloseButton />
            </ModalHeader>

            <ModalBody>
                <Validations @ref="validations" Mode="ValidationMode.Manual" Model="OrderCreateDto">
                
                    <!-- Status -->
                    <Field>
                        <FieldLabel>@L["Status"]:</FieldLabel>
                        <Select TValue="EnumStatus" @bind-SelectedValue="OrderCreateDto.Status">

                            @foreach (var status in Enum.GetValues(typeof(EnumStatus)).Cast<EnumStatus>())
                            {
                                <SelectItem Value="@status">@status</SelectItem>
                            }
                        </Select>
                    </Field>

                    <!-- Order Date -->
                <Card>
                    <Field>
                        <FieldLabel>@L["Order Date"]:</FieldLabel>
                        <DatePicker TValue="DateTime" 
                            InputMode="DateInputMode.DateTime" 
                            @bind-Date="OrderCreateDto.OrderDate" 
                            Format="yyyy-MM-dd" />
                    </Field>
                </Card>

                    <!-- Delivery Date -->
                <Card>
                    <Field>
                        <FieldLabel>@L["Delivery Date"]:</FieldLabel>
                        <DatePicker TValue="DateTime" 
                            InputMode="DateInputMode.DateTime" 
                            @bind-Date="OrderCreateDto.DeliveryDate"
                            Format="yyyy-MM-dd" />
                    </Field>
                </Card>

                <!-- Total Amount -->                
                <Card>
                    <Field>
                        <FieldLabel>@L["Total Amount"]:</FieldLabel>
                        <FieldBody>
                        <InputNumber @bind-Value="OrderCreateDto.TotalAmount" class="form-control" /> 
                            </FieldBody>
                    </Field>
                </Card>

                    <!--Order Code-->
                    <Card>
                        <Field>
                            <FieldLabel>@L["Order Code"]:</FieldLabel>
                            <FieldBody>
                                    <TextEdit @bind-Text="OrderCreateDto.OrderCode"
                                              class="form-control" />
                            </FieldBody>
                        </Field>
                    </Card>

                    <!-- Customer -->
                    <Validation Validator="ValidateCustomer">
                        <Field>
                            <FieldLabel>@L["Customer"]:</FieldLabel>
                            <FieldBody>
                                <Select TValue="Guid" @bind-SelectedValue="OrderCreateDto.CustomerId">
                                    <SelectItem Value="Guid.Empty">@L["Select"]</SelectItem>
                                    @foreach (var customer in Customers)
                                    {
                                        <SelectItem Value="@customer.Id">@customer.Name @customer.Surname</SelectItem>
                                    }
                                </Select>

                                <ValidationError>
                                    @L["Customer is required"]
                                </ValidationError>
                            </FieldBody>
                        </Field>
                    </Validation>

                    <!--Project-->
                    <Validation Validator="ValidateProject">
                        <Field>
                            <FieldLabel>@L["Project"]</FieldLabel>
                            <FieldBody>
                                <Select TValue="Guid"
                                        @bind-SelectedValue="OrderCreateDto.ProjectId">
                                    <SelectItem Value="Guid.Empty">@L["Select"]</SelectItem>
                                    @foreach (var project in Projects)
                                    {
                                        <SelectItem Value="@project.Id">
                                            @project.Name
                                        </SelectItem>
                                    }
                                </Select>
                                <ValidationError>
                                    @L["Project is required"]
                                </ValidationError>
                            </FieldBody>
                        </Field>
                    </Validation>

                </Validations>
            </ModalBody>

            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">@L["Close"]</Button>
                <Button Color="Color.Primary" Clicked="@CreateOrderAsync">@L["Save Changes"]</Button>
            </ModalFooter>

        </ModalContent>
    </Modal>
</CascadingValue>
