@page "/customers"

@using Blazorise
@using Blazorise.DataGrid
@using Crm.Customers
@using Crm.Blazor.Components.Dialogs.Customers
@using Microsoft.AspNetCore.SignalR.Client

@inject ICustomerAppService CustomerAppService

<Alert Color="Color.Success"
    Visible="@showAlert"
    Dismisable
    Dismissed="@OnAlertDismissed">
    <div Class="d-flex justify-content-between align-items-center">
        <div>
            📦 A new customer has been added: <strong>@latestCustomerName</strong>
        </div>
        <button type="button" class="btn-close" @onclick="() => showAlert = false"></button>
    </div>
</Alert>

<Container>
    <Card>
        <CardHeader>
            
        </CardHeader>
        <CardBody>         
            <DataGrid TItem="CustomerDto"
                      Data="@customerList"
                      Editable
                      Responsive
                      ShowPager
                      Filterable
                      FilterMethod="DataGridFilterMethod.StartsWith"
                      PagerPosition="DataGridPagerPosition.Bottom">

                <DataGridColumn Field="@nameof(CustomerDto.FullName)" Caption="Name" Editable FilterMethod="DataGridColumnFilterMethod.StartsWith"/>
                <DataGridColumn Field="@nameof(CustomerDto.Phone)" Caption="Phone" Editable FilterMethod="DataGridColumnFilterMethod.StartsWith" />
                <DataGridColumn Field="@nameof(CustomerDto.Email)" Caption="Email" Editable FilterMethod="DataGridColumnFilterMethod.StartsWith" />
                <DataGridColumn Field="@nameof(CustomerDto.Address)" Caption="Address" Editable FilterMethod="DataGridColumnFilterMethod.StartsWith" />
                <DataGridColumn Field="@nameof(CustomerDto.CompanyName)" Caption="CompanyName" Editable FilterMethod="DataGridColumnFilterMethod.StartsWith" />
                <DataGridColumn TItem="CustomerDto" Caption="Type">
                    <DisplayTemplate>
                        @{
                            var type = context.CustomerType;
                            var badgeClass = type switch
                            {
                                EnumCustomer.Lead => "badge bg-secondary",
                                EnumCustomer.Prospect => "badge bg-info",
                                EnumCustomer.ProposalStage => "badge bg-warning text-dark",
                                EnumCustomer.Won => "badge bg-success",
                                EnumCustomer.Lost => "badge bg-danger",
                                EnumCustomer.ActiveProjectCustomer => "badge bg-primary",
                                _ => "badge bg-light text-dark"
                            };
                        }

                        <span class="@badgeClass">@type</span>
                    </DisplayTemplate>
                </DataGridColumn>


                <DataGridColumn TItem="CustomerDto" Caption="Details">
                    <DisplayTemplate>
                        <Button Color="Color.Info" Clicked="@(() => ShowDetailModal(context))">
                            <i class="fa-solid fa-eye"></i>
                        </Button>
                    </DisplayTemplate>
                </DataGridColumn>


                <DataGridCommandColumn>  
                    <NewCommandTemplate>
                        <Field>
                            <Button Color="Color.Success" Clicked="@ShowCreateModal">Add Customer</Button>
                        </Field>                        
                    </NewCommandTemplate>
                    <EditCommandTemplate>
                         <Field>
                            <Button Color="Color.Primary" Clicked="@(()=>ShowEditModal(context.Item))">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </Button>
                        </Field>                         
                    </EditCommandTemplate>
                    <DeleteCommandTemplate>
                        <Field>
                            <Button Color="Color.Danger" @onclick="() => OnDeleteClicked(context.Item)">
                                <i class="fa-regular fa-trash-can"></i>
                            </Button>
                        </Field>                        
                    </DeleteCommandTemplate>
                </DataGridCommandColumn>            
                                
            </DataGrid> 
        </CardBody>
    </Card>
</Container>

@* ********** ACTIVITY DELETE MODAl ********** *@
<Modal @bind-Visible="isDeleteModalVisible" Size="ModalSize.Small" BackdropClick="true">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>Confirm</ModalTitle>
            <Button CloseButton @onclick="() => isDeleteModalVisible = false" />
        </ModalHeader>
        <ModalBody>
            Are you sure you want to delete?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" @onclick="ConfirmDelete">Delete</Button>
            <Button Color="Color.Secondary" @onclick="() => isDeleteModalVisible = false">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@* ********** CREATE MODAL ********** *@
<Crm.Blazor.Components.Dialogs.Customers.CustomerCreateModal @ref="customerCreateModal" />

@* ********** EDIT MODAL ********** *@
 <Crm.Blazor.Components.Dialogs.Customers.CustomerEditModal @ref="customerEditModal" />


