@page "/customers"

@using Blazorise
@using Blazorise.DataGrid
@using Crm.Customers
@using Crm.Blazor.Components.Dialogs.Customers

@inject ICustomerAppService CustomerAppService

<Container>
    <Card>
        <CardHeader>
            
        </CardHeader>
        <CardBody>         
            <DataGrid TItem="CustomerDto"
                      Data="@customerList"
                      Editable
                      Responsive
                      ShowPager
                      PagerPosition="DataGridPagerPosition.Bottom">

                <DataGridColumn Field="@nameof(CustomerDto.FullName)" Caption="Name" Editable/>
                <DataGridColumn Field="@nameof(CustomerDto.Phone)" Caption="Phone" Editable />
                <DataGridColumn Field="@nameof(CustomerDto.Email)" Caption="Email" Editable />
                <DataGridColumn Field="@nameof(CustomerDto.Address)" Caption="Address" Editable />
                <DataGridColumn Field="@nameof(CustomerDto.CompanyName)" Caption="CompanyName" Editable/> 

                <DataGridCommandColumn>  
                    <NewCommandTemplate>
                        <Field>
                            <Button Color="Color.Success" Clicked="@ShowCreateModal">Add Customer</Button>
                        </Field>                        
                    </NewCommandTemplate>
                    <EditCommandTemplate>
                         <Field>
                            <Button Color="Color.Primary" Clicked="@(()=>ShowEditModal(context.Item))">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </Button>
                        </Field>                         
                    </EditCommandTemplate>
                    <DeleteCommandTemplate>
                        <Field>
                            <Button Color="Color.Danger" @onclick="() => OnDeleteClicked(context.Item)">
                                <i class="fa-regular fa-trash-can"></i>
                            </Button>
                        </Field>                        
                    </DeleteCommandTemplate>
                </DataGridCommandColumn>            
                                
            </DataGrid> 
        </CardBody>
    </Card>
</Container>

@* ********** ACTIVITY DELETE MODAl ********** *@
<Modal @bind-Visible="isDeleteModalVisible" Size="ModalSize.Small" BackdropClick="true">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>Onayla</ModalTitle>
            <Button CloseButton @onclick="() => isDeleteModalVisible = false" />
        </ModalHeader>
        <ModalBody>
            Silmek istediğinize emin misiniz?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" @onclick="ConfirmDelete">Sil</Button>
            <Button Color="Color.Secondary" @onclick="() => isDeleteModalVisible = false">İptal</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@* ********** CREATE MODAL ********** *@
<Crm.Blazor.Components.Dialogs.Customers.CustomerCreateModal @ref="customerCreateModal" />

@* ********** EDIT MODAL ********** *@
 <Crm.Blazor.Components.Dialogs.Customers.CustomerEditModal @ref="customerEditModal" />


