@using Crm.Employees
@using Crm.Positions
@using Crm.Common

@inject IPositionAppService PositionAppService
@inject IEmployeeAppService EmployeeAppService

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Add Employee</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Employee Name:</FieldLabel>
                    <InputText @bind-Value="FirstName" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>Employee Surname:</FieldLabel>
                    <InputText @bind-Value="LastName" class="form-control"/>
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>Email:</FieldLabel>
                        <InputText @bind-Value="Email" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>Phone:</FieldLabel>
                        <InputText @bind-Value="PhoneNumber" class="form-control" />
                    </Field>
                </Card> 

                <Card>
                    <Field>
                        <FieldLabel>Address:</FieldLabel>
                        <InputText @bind-Value="EmployeeAddress" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>Birth Date:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.Date" @bind-Date="BirthDate" Format="yyyy-MM-dd" />
                    </Field>
                </Card>

                <Field>
                    <FieldLabel>Positions:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="SelectedPositionId">
                        <SelectItem Value="Guid.Empty">Seçiniz</SelectItem>
                        @foreach (var position in Positions)
                        {
                            <SelectItem Value="@position.Id">@position.Name</SelectItem>
                        }
                    </Select>
                </Field>

                <Card>
                    <Field>
                        <FieldLabel>Photo:</FieldLabel>
                        <InputFile OnChange="HandleFileSelected" accept="image/*" />
                        @if (!string.IsNullOrEmpty(PhotoPath))
                        {
                            <img src="@PhotoPath" alt="Profile Photo" style="width:120px; height:120px; margin-top:10px; border-radius:10px;" />
                        }
                    </Field>
                </Card>

                <Field>
                    <FieldLabel>Gender:</FieldLabel>
                    <Select @bind-SelectedValue="Gender">
                        @foreach (var gender in Enum.GetValues(typeof(EnumGender)).Cast<EnumGender>())
                        {
                            <SelectItem Value="@gender">@gender</SelectItem>
                        }
                    </Select>
                </Field>



            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@CreateEmployeeAsync">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</CascadingValue> 