@using Crm.Employees
@using Crm.Positions
@using Crm.Common

@inject IPositionAppService PositionAppService
@inject IEmployeeAppService EmployeeAppService
@inject Microsoft.Extensions.Localization.IStringLocalizer<Crm.Localization.CrmResource> L

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>

            <ModalHeader>
                <ModalTitle>@L["Add Employee"]:</ModalTitle>
                <CloseButton />
            </ModalHeader>

            <ModalBody>
                <Validations @ref="validations" Mode="ValidationMode.Manual" Model="EmployeeCreateDto">

                <!-- Name -->
                <Validation>
                    <Field>
                    <FieldLabel>@L["First Name"]:</FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="EmployeeCreateDto.FirstName">
                            <Feedback>
                                <ValidationError>@L["Required"]</ValidationError>
                            </Feedback>
                        </TextEdit>
                            </FieldBody>
                            </Field>
                </Validation>

                    <!-- Surname -->
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Last Name"]:</FieldLabel>
                            <FieldBody>
                                <TextEdit @bind-Text="EmployeeCreateDto.LastName">
                                    <Feedback>
                                        <ValidationError>@L["Required"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>

                    <!-- Email -->
                    <Validation>
                        <Field Horizontal>
                            <FieldLabel>@L["Email"]:</FieldLabel>
                            <FieldBody>
                                <TextEdit @bind-Text="EmployeeCreateDto.Email">
                                    <Feedback>
                                        <ValidationError>@L["Required"], @L["Invalid email address"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>

                    <!-- Phone -->
                    <Validation>
                        <Field Horizontal>
                            <FieldLabel>@L["Phone number"]:</FieldLabel>
                            <FieldBody>
                                <TextEdit @bind-Text="EmployeeCreateDto.PhoneNumber">
                                    <Feedback>
                                        <ValidationError>@L["Required"], @L["Must be exactly 11 digits"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>

                    <!-- Address -->
                    <Validation>
                        <Field Horizontal>
                            <FieldLabel>@L["Address"]:</FieldLabel>
                            <FieldBody>
                                <TextEdit @bind-Text="EmployeeCreateDto.Address">
                                    <Feedback>
                                        <ValidationError>@L["Required"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>

                    <!-- Birth Date -->
                    <Card>
                        <Field>
                            <FieldLabel>@L["Birth Date"]:</FieldLabel>
                            <DatePicker TValue="DateTime"
                                        InputMode="DateInputMode.DateTime"
                                        @bind-Date="EmployeeCreateDto.BirthDate"
                                        Format="yyyy-MM-dd HH:mm" />
                        </Field>
                    </Card>

                    <!-- Position -->
                    <Validation Validator="ValidatePosition">
                        <Field>
                            <FieldLabel>@L["Positions"]:</FieldLabel>
                            <FieldBody>
                                <Select TValue="Guid" @bind-SelectedValue="EmployeeCreateDto.PositionId">
                                    <SelectItem Value="Guid.Empty">@L["Select"]</SelectItem>
                                    @foreach (var position in Positions)
                                    {
                                        <SelectItem Value="@position.Id">@position.Name</SelectItem>
                                    }
                                </Select>

                                <ValidationError>
                                    @L["Position is required"]
                                </ValidationError>
                            </FieldBody>
                        </Field>
                    </Validation>

                    <!-- Photo -->
                    <Card>
                            <Field>
                        <FieldLabel>Photo:</FieldLabel>
                        <InputFile OnChange="HandleFileSelected" accept="image/*" />
                                    @if (!string.IsNullOrEmpty(PhotoPath))
                                    {
                            <img src="@PhotoPath" alt="Profile Photo" style="width:120px; height:120px; margin-top:10px; border-radius:10px;" />
                                    }
                            </Field>
                    </Card>

                <!-- Gender -->
                <Field>
                    <FieldLabel>Gender:</FieldLabel>
                    <Select @bind-SelectedValue="Gender">
                        @foreach (var gender in Enum.GetValues(typeof(EnumGender)).Cast<EnumGender>())
                        {
                            <SelectItem Value="@gender">@gender</SelectItem>
                        }
                    </Select>
                </Field>

                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@CreateEmployeeAsync">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</CascadingValue> 