@using Crm.Employees
@using Crm.Positions

@inject IPositionAppService PositionAppService
@inject IEmployeeAppService EmployeeAppService
@inject Microsoft.Extensions.Localization.IStringLocalizer<Crm.Localization.CrmResource> L

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>

            <ModalHeader>
                <ModalTitle>@L["Edit Employee"]</ModalTitle>
                <CloseButton />
            </ModalHeader>

            <ModalBody>
                <Field>
                    <FieldLabel>@L["First Name"]:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.FirstName" class="form-control" />

                </Field>
                <Field>
                    <FieldLabel>@L["Last Name"]:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.LastName" class="form-control" />
                </Field>                
                <Field>
                    <FieldLabel>@L["Email"]:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.Email" class="form-control" />
                </Field>  
                <Field>
                    <FieldLabel>@L["Phone Number"]:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.PhoneNumber" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>@L["Address"]:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.Address" class="form-control" />
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>@L["Birth Date"]:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" @bind-Date="selectedBirthDate" Format="yyyy-MM-dd HH:mm" />
                    </Field>
                </Card>
                <Field>
                    <FieldLabel>@L["Position"]:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="SelectedPositionId">
                        @foreach (var position in PositionList)
                        {
                            <SelectItem Value="@position.Id">@position.Name</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>@L["Gender"]:</FieldLabel>
                    <Select @bind-SelectedValue="selectedGender">
                        @foreach (var gender in Enum.GetValues(typeof(EnumGender)).Cast<EnumGender>())
                        {
                            <SelectItem Value="@gender">@gender</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>@L["Photo"]:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.PhotoPath" class="form-control" />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">@L["Close"]</Button>
                <Button Color="Color.Primary" Clicked="@UpdateEmployeeAsync">@L["Save Changes"]</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</CascadingValue>