@using Crm.Employees
@using Crm.Positions

@inject IPositionAppService PositionAppService
@inject IEmployeeAppService EmployeeAppService

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Edit Employee</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>First Name:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.FirstName" class="form-control" />

                </Field>
                <Field>
                    <FieldLabel>Last Name:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.LastName" class="form-control" />
                </Field>                
                <Field>
                    <FieldLabel>Email:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.Email" class="form-control" />
                </Field>  
                <Field>
                    <FieldLabel>Phone Number:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.PhoneNumber" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>Address:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.Address" class="form-control" />
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>Birth Date:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" @bind-Date="selectedBirthDate" Format="yyyy-MM-dd HH:mm" />
                    </Field>
                </Card>
                <Field>
                    <FieldLabel>Position:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="SelectedPositionId">
                        <SelectItem Value="Guid.Empty">Seçiniz</SelectItem>
                        @foreach (var position in PositionList)
                        {
                            <SelectItem Value="@position.Id">@position.Name</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>Gender:</FieldLabel>
                    <Select @bind-SelectedValue="selectedGender">
                        @foreach (var gender in Enum.GetValues(typeof(EnumGender)).Cast<EnumGender>())
                        {
                            <SelectItem Value="@gender">@gender</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>Photo Path:</FieldLabel>
                    <InputText @bind-Value="EmployeeUpdateDto.PhotoPath" class="form-control" />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@UpdateEmployeeAsync">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</CascadingValue>