@page "/projects"

@using Blazorise.Components
@using Crm.Blazor.Components.Dialogs.Projects
@using Crm.Projects
@using Crm.Common
@using Crm.Blazor.Components

@inject NavigationManager Navigation
@inject IProjectAppService ProjectAppService

<Div Margin="Margin.IsAuto.OnX">
    <Card>
        <CardBody Flex="Flex.JustifyContent.Between.AlignItems.Center">
            <Div>
                <Field Display="Display.InlineFlex" Margin="Margin.Is0.FromBottom">
                <Autocomplete TItem="ProjectDto"
                                  TValue="string"
                                  Data="@ReadDataProjects"
                                  ReadData="@OnHandleReadData"
                                  TextField="@(( item ) => item.Name)"
                                  ValueField="@((item) => item.Id.ToString())"
                                  @bind-SelectedText="selectedAutoCompleteText"
                                  @onkeydown="@OnEntered"
                                  Placeholder="Search..."   
                                  FreeTyping>
                    <NotFoundContent> Sorry... @context was not found! :( </NotFoundContent>
                </Autocomplete>
                </Field>                          
                
            </Div>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Gap="Gap.Is3">              

                    <Field Display="Display.InlineFlex" Margin="Margin.Is0.FromBottom">
                        <Button Color="Color.Success" Clicked="@ShowCreateModal">Add Project</Button>
                    </Field>      
                    
                    @* <Field Display="Display.InlineFlex" Margin="Margin.Is0.FromBottom">
                    <DatePicker TValue="DateTime?" 
                        @bind-Dates="selectedDates"
                        @onchange="@((_) => ApplyFilters())"
                        InputMode="DateInputMode.Date"
                        SelectionMode="DateInputSelectionMode.Range"/>
                </Field> 
                 <Select TValue="EnumStatus?" @bind-Value="SelectedStatus" @onchange="(_) => ApplyFilters()">
                    <SelectItem Value="@(null as EnumStatus?)">Tümü</SelectItem>
                    @foreach (var status in Enum.GetValues<EnumStatus>())
                    {
                        <SelectItem Value="@status">@status</SelectItem>
                    }
                </Select> *@
                
            </Div>            
        </CardBody>
    </Card>
</Div>

<Row>
    @foreach (var project in FilteredProjects)
    {
        <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is8.OnDesktop.Is10.OnTablet">
            <Card>
                <CardBody>
                    <CardTitle Size="5">
                        <Div Flex="Flex.JustifyContent.Between">
                            <Span>@project.Name</Span>
                            <span class="status-label status-@project.Status.ToString().ToLower()">@project.Status</span>
                        </Div>
                    </CardTitle>
                    <Paragraph Margin="Margin.Is3.FromTop">
                        @(project.Description!.Length > 80 ? project.Description[..80] + "..." : project.Description)
                    </Paragraph>
                    <Div class="progress-container">
                        <Progress value="@GetCompletionPercentage(project.StartTime, project.EndTime)" max="100"></Progress>
                        <P>%@GetCompletionPercentage(project.StartTime, project.EndTime) tamamlandı</P>
                    </Div>

                    <br />
                    <Anchor To="#" @onclick="() => NavigateToProjectDetail(project.Id)">Read More</Anchor>
                </CardBody>
            </Card>
        </Column>
    }

</Row>
<Div Flex="Flex.JustifyContent.Center">
    <Button Color="Color.Light" @onclick="LoadMoreProjects">Load More</Button>
</Div>

@* ********** CREATE MODAL ********** *@
<ProjectCreateModal @ref="projectCreateModal" />