@page "/tasks"
@using Crm.Blazor.Components.Dialogs.Tasks
@using Crm.Common
@using Crm.Tasks
@using Microsoft.AspNetCore.SignalR.Client

@inject ITaskAppService TaskAppService
@inject Microsoft.Extensions.Localization.IStringLocalizer<Crm.Localization.CrmResource> L
    
<Alert Color="Color.Success"
    Visible="@showAlert"
    Dismisable
    Dismissed="@(()=> showAlert = false)">
    <div Class="d-flex justify-content-between align-items-center">
        <div>
            🆕 @L["New task has been added"]: <strong>@latestTaskName</strong>
        </div>
        <button type="button" class="btn-close" @onclick="() => showAlert = false"></button>
    </div>
</Alert>

<Div class="d-flex justify-content-end mb-3">
    <Button Color="Color.Primary"  Clicked="@ShowCreateModal">
        @L["Create Task"]
    </Button>
</Div>


@if (items != null && items.Any())
{
    <DropContainer TItem="TaskDto"
                   Items="@items"
                   ItemsFilter="@((item, dropZone) => item.Group == dropZone)"
                   ItemDropped="@ItemDropped"
                   Flex="Flex.Wrap.Grow.Is1"
                   class="flex justify-between gap-4 w-full">                    
                  

        <ChildContent>
             @foreach (var zone in new[] { "Active", "Pending", "Completed" })
            {
                var zoneStyle = zone switch
                {
                    "Active" => "background-color:#D1FAE5; border:2px solid #34D399;",     // yeşil
                    "Pending" => "background-color:#FEF3C7; border:2px solid #FBBF24;",    // sarı
                    "Completed" => "background-color:#FEE2E2; border:2px solid #EF4444;",  // kırmızı
                    _ => "background-color:#F3F4F6; border:2px solid #D1D5DB;"
                };

                <DropZone TItem="TaskDto"
                          Name="@zone"
                          style="@zoneStyle"
                          class="flex-1 min-w-[200px] max-w-xs rounded-lg p-3 m-3">
                    
                    <ChildContent>
                        <Heading Size="HeadingSize.Is4"
                                 Margin="Margin.Is3.FromBottom"
                                 class="overflow-hidden text-ellipsis">
                            @zone
                        </Heading>
                    </ChildContent>

                    <ItemTemplate Context="task">
                        <Card Shadow="Shadow.Default"
                              Margin="Margin.Is3.OnY"
                              @onclick="() => OnCardClick(task)"
                              style="@GetPriorityBorderStyle(task)"
                              class="overflow-hidden whitespace-nowrap text-ellipsis transition-transform transform hover:scale-105 cursor-pointer">
                            <CardBody class="overflow-hidden text-ellipsis">
                                @(task.Name!.Length > 25 ? task.Name.Substring(0, 25) + "..." : task.Name)
                            </CardBody>
                        </Card>
                    </ItemTemplate>


                </DropZone>
            }
        </ChildContent>

    </DropContainer>
}

<TaskDetailModal @ref="taskDetailModal" Task="@selectedTask" />

@* ********** CREATE MODAL ********** *@
<TaskCreateModal @ref="taskCreateModal"/>

