@page "/orders"

@using Crm.Orders
@using Blazorise
@using Blazorise.DataGrid
@using Crm.Customers
@using Crm.Projects
@using Microsoft.AspNetCore.SignalR.Client

@inject IOrderAppService OrderAppService
@inject ICustomerAppService CustomerAppService
@inject IProjectAppService ProjectAppService
@inject Microsoft.Extensions.Localization.IStringLocalizer<Crm.Localization.CrmResource> L

    <Alert Color="Color.Success"
           Visible="@showAlert"
           Dismissible
           Dismissed="@OnAlertDismissed">
        <div Class="d-flex justify-content-between align-items-center">
            <div>
            📦 A new order has been added: <strong>@latestOrderCode</strong>
            </div>
            <button type="button" class="btn-close" @onclick="() => showAlert = false"></button>
        </div>
    </Alert>

<Container>
    <Card>
        <CardBody>
            <DataGrid 
                TItem="OrderDto"
                Data="@OrderList"            
                Editable
                Responsive
                ShowPager
                PagerPosition="DataGridPagerPosition.Bottom"
                Filterable
                FilterMethod="DataGridFilterMethod.StartsWith">

                <DataGridColumn Field="@nameof(OrderDto.OrderCode)" Caption="Order Code" Editable/>
                <DataGridColumn Caption="@L["Customer"]">
                    <DisplayTemplate Context="order">
                        @CustomerList.FirstOrDefault(c => c.Id == order.CustomerId)?.FullName
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Caption="@L["Project"]">
                    <DisplayTemplate Context="order">
                        @ProjectList!.FirstOrDefault(p => p.Id == order.ProjectId)?.Name
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@nameof(OrderDto.OrderDate)" Caption="@L["Order Date"]" Editable />
                <DataGridColumn Field="@nameof(OrderDto.DeliveryDate)" Caption="@L["Delivery Date"]" Editable />
                <DataGridColumn Field="@nameof(OrderDto.Status)" Caption="@L["Status"]" Editable>
                    <DisplayTemplate Context="order">
                        <span class="status-label status-@order.Status.ToString().ToLower()">
                            @order.Status
                        </span>
                    </DisplayTemplate>
                </DataGridColumn>

                <DataGridCommandColumn>
                    <NewCommandTemplate>
                        <Field>
                            <Button Color="Color.Success" Clicked="@ShowCreateModal">@L["Add Order"]</Button>
                        </Field>
                    </NewCommandTemplate>

                    <EditCommandTemplate>
                        <Field>
                            <Button Color="Color.Primary" Clicked="@(()=>ShowEditModal(context.Item))">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </Button>
                        </Field>
                    </EditCommandTemplate>

                    <DeleteCommandTemplate>
                        <Field>
                            <Button Color="Color.Danger" @onclick="() => OnDeleteClicked(context.Item)">
                                <i class="fa-regular fa-trash-can"></i>
                            </Button>
                        </Field>
                    </DeleteCommandTemplate>

                </DataGridCommandColumn>

            </DataGrid>
        </CardBody>
    </Card>
</Container>

@* ********** Order DELETE MODAl ********** *@
<Modal @bind-Visible="isDeleteModalVisible" Size="ModalSize.Small" BackdropClick="true">
    <ModalContent>
        <ModalHeader>
            <ModalTitle>@L["Confirm"]</ModalTitle>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            @L["Are you sure you want to delete"]?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" @onclick="ConfirmDelete">@L["Delete"]</Button>
            <Button Color="Color.Secondary" @onclick="() => isDeleteModalVisible = false">@L["Close"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@* ********** CREATE MODAL ********** *@
<Crm.Blazor.Components.Dialogs.Orders.OrderCreateModal @ref="orderCreateModal" />
 
@* ********** EDIT MODAL ********** *@
 <Crm.Blazor.Components.Dialogs.Orders.OrderEditModal @ref="orderEditModal" />
 
