@page "/orders"

@using Crm.Orders
@using Blazorise
@using Blazorise.DataGrid
@using Crm.Customers
@using Crm.Projects

@inject IOrderAppService OrderAppService
@inject ICustomerAppService CustomerAppService
@inject IProjectAppService ProjectAppService

<Container>
    <Card>
        <CardBody>
            <DataGrid 
                TItem="OrderDto"
            Data="@orderList"
            @bind-SelectedRow="@selectedOrder"
            Editable
            Responsive="true">
                <DataGridColumn Field="@nameof(OrderDto.OrderCode)" Caption="Order Code" Editable/>
                <DataGridColumn Caption="Customer">
                    <DisplayTemplate Context="order">
                        @((CustomerList.FirstOrDefault(c => c.Id == order.CustomerId)?.FullName) ?? "N/A")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Caption="Project">
                    <DisplayTemplate Context="order">
                        @((ProjectList.FirstOrDefault(p => p.Id == order.ProjectId)?.Name) ?? "N/A")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@nameof(OrderDto.DeliveryDate)" Caption="Delivery Date" Editable />
                <DataGridColumn Field="@nameof(OrderDto.Status)" Caption="Status" Editable>
                    <DisplayTemplate Context="order">
                        <span class="status-label status-@order.Status.ToString().ToLower()">
                            @order.Status
                        </span>
                    </DisplayTemplate>
                </DataGridColumn>

                <DataGridCommandColumn>
                    <NewCommandTemplate>
                        <Field>
                             <Button Color="Color.Success" Clicked="@ShowCreateModal">Add Order</Button>
                        </Field>
                    </NewCommandTemplate>
                    <EditCommandTemplate>
                        <Field>
                              <Button Color="Color.Primary" Clicked="@(()=>ShowEditModal(selectedOrder))">
                                 <i class="fa-solid fa-pen-to-square"></i>
                            </Button> 
                        </Field>
                    </EditCommandTemplate>
                    <DeleteCommandTemplate>
                        <Field>
                            <Button Color="Color.Danger">
                                <i class="fa-regular fa-trash-can"></i>
                            </Button>
                        </Field>
                    </DeleteCommandTemplate>
                </DataGridCommandColumn>

            </DataGrid>
        </CardBody>
    </Card>
</Container>