@using Crm.Activities
@using System
@using Crm.Customers
@using Crm.Employees

@inject IActivityAppService ActivityAppService
@inject IEmployeeAppService EmployeeAppService
@inject ICustomerAppService CustomerAppService

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Edit Activity</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Type:</FieldLabel>
                    <Select @bind-SelectedValue="selectedType">
                        @foreach (var type in Enum.GetValues(typeof(EnumType)).Cast<EnumType>())
                        {
                            <SelectItem Value="@type">@type</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>Description:</FieldLabel>
                    <InputText @bind-Value="ActivityUpdateDto.Description" class="form-control" />
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>Activity Date:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" @bind-Date="selectedDate" Format="yyyy-MM-dd HH:mm" />
                    </Field>
                </Card>
                <Field>
                    <FieldLabel>Employees:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="selectedEmployeeId">
                        <SelectItem Value="Guid.Empty">Select</SelectItem>
                        @foreach (var employee in EmployeeList)
                        {
                            <SelectItem Value="@employee.Id">@employee.FirstName</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>Customer:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="@selectedCustomerId">
                        <SelectItem Value="Guid.Empty">Select</SelectItem>
                        @foreach (var customer in CustomerList)
                        {
                            <SelectItem Value="@customer.Id">@customer.Name</SelectItem>
                        }
                    </Select>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@UpdateActivityAsync">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</CascadingValue>


