@using Crm.Activities
@using System
@using Crm.Customers
@using Crm.Employees

@inject IActivityAppService ActivityAppService
@inject IEmployeeAppService EmployeeAppService
@inject ICustomerAppService CustomerAppService
@inject Microsoft.Extensions.Localization.IStringLocalizer<Crm.Localization.CrmResource> L

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>@L["Edit Activity"]</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>@L["Type"]:</FieldLabel>
                    <Select @bind-SelectedValue="selectedType">
                        @foreach (var type in Enum.GetValues(typeof(EnumType)).Cast<EnumType>())
                        {
                            <SelectItem Value="@type">@type</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>@L["Description"]:</FieldLabel>
                    <InputText @bind-Value="ActivityUpdateDto.Description" class="form-control" />
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>
                            @L["Activity Date"]:</FieldLabel>
                        <DatePicker TValue="DateTime?" InputMode="DateInputMode.DateTime" @bind-Date="selectedDate" Format="yyyy-MM-dd HH:mm" />
                    </Field>
                </Card>
                <Field>
                    <FieldLabel>@L["Employees"]:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="selectedEmployeeId">                        
                        @foreach (var employee in EmployeeList)
                        {
                            <SelectItem Value="@employee.Id">@employee.FirstName</SelectItem>
                        }
                    </Select>
                </Field>
                <Field>
                    <FieldLabel>@L["Customer"]:</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="@selectedCustomerId">
                        @foreach (var customer in CustomerList)
                        {
                            <SelectItem Value="@customer.Id">@customer.Name</SelectItem>
                        }
                    </Select>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">@L["Close"]</Button>
                <Button Color="Color.Primary" Clicked="@UpdateActivityAsync">@L["Save Changes"]</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</CascadingValue>


